* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

html {
	background: url(computershot.jpg) no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

body {
	font-family: 'Source Sans Pro','verdana','sans-serif';
	font-size: 0px;
	width: 100%;
	color: white;
}

h1 {
	font-size: 40px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-transform: capitalize;
	text-align: center;
	padding-bottom: 30px;
}

h3 {
	font-size: 20px;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	text-align: center;
	padding-top: 15px;
	margin-bottom: 0;
	text-decoration: bold;
}

p {
	text-align: justify;
	padding: 0;
	font-size: 18px;
}

a {
	font-family: 'Source Sans Pro','verdana','sans-serif';
	margin-top: 0;
	color: #e7f85d;
	font-weight: bold;
	font-size: 20px;
}

a:hover {
	color: white;
}

i {
	color: black;
}

.menuwrapper {
	width: 100%:;
	margin: 0 auto;
}

.menuleft {
	float: left;
	width: 50%;
	text-align: left;
	margin: auto 0;
	padding-left: 5px;
}

.menuleft p {
	font-size: 14px;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	text-align: left;
}

.menuright {
	float: right;
	margin: 0 auto;
	text-align: right;
	padding-right: 50px;
	width: 50%;
	text-transform: uppercase;
}

.menuright ul {
	list-style-type: none;
	position: relative;
}

.menuright ul li {
	display: inline;
	position: relative;
	top: 20px;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	color: #e7f85d;
}

.menuright ul li:hover ul {
	display: block;
}

.menuright ul li a {
	text-decoration: none;
	font-size: 18px;
	text-transform: capitalize;
	padding: 20px;
	background: purple;
}

.menuright ul li a:hover {
	color: white;
	background: black;
}

.menuright ul li ul {
	display: none;
	margin: 0;
	position: absolute;
	top: 5px;
	right: -6px;
}

.menuright ul li ul li {
	display: list-item;
	float: none;
	text-align: center;
	background: purple;
}
.menuright ul li ul li a {
	display: block;
}

li .fa  {
	color: #e7f85d;
}

.wrapper {
	max-width: 800px;
	padding: 40px 80px 60px;
	margin: 0 auto;
	text-align: center;
}

.content ul li a:hover {
	color: white;
}

blockquote, em {
	text-align: justify;
	padding: 0;
	font-size: 18px;
}

blockquote::before, blockquote::after {
	font-size: 28px;
	color: #e7f85d;
}

blockquote::before {
			content: '“';
}

blockquote::after {
			content: '”';
}

.picsul {
	list-style-type: square;
	margin-left: 25px;
	display: inline-block;
	font-weight: bold;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	text-align: left;
	margin-top: 0;
}
.picsul a:hover {
	text-decoration: underline;
	color: #30004C;
}

.footer {
	clear: both;
	text-align: center;
	padding: 10px;
	text-transform: lowercase;
}

/*MAILCHIMP FORM*/

.mc-field-group {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 0px;
}

.mc-field-group ul li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

input[type="submit"] {
	background-color: #e7f85d;
	border: 1px solid black;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	font-size: 16px;
}

.checkbox {
	text-align: left;
	margin-left: 200px;
}

input[type="email"] {
	padding: 5px;
	width: 250px;
	border: 1px solid black;
}