/* The Desktop CSS file */

@font-face {
	font-family: 'thirsty_softmedium';
	src: url('../files/thirstysoftmedium-webfont.eot');
	src: url('../files/thirstysoftmedium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../files/thirstysoftmedium-webfont.woff') format('woff'),
	url('../files/thirstysoftmedium-webfont.ttf') format('truetype'),
	url('../files/thirstysoftmedium-webfont.svg#thirsty_softmedium') format('svg');
	font-weight: normal;
	font-style: normal;

}
body {
	font-size: 100%;
	margin: 0 auto;
	width: 950px;
}  

* {
	box-sizing: border-box;
}

h1 {
	font-size: 48px;
	font-family: 'Courgette', cursive;
	color: #30004C;
}
h2 {
	font-size: 32px;
	color: #30004C;
	font-family: 'thirsty_softmedium','Georgia','serif';
	text-align: center;
}
h3 {
	font-size: 20px;
	font-family: 'Source Sans Pro','verdana','sans-serif';
	color: #30004C;
}

p {
	line-height: 1.4;
	font-size: 16px;
	font-family: 'Source Sans Pro','verdana','sans-serif';
}
a {
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
	font-family: 'Source Sans Pro','verdana','sans-serif';
}
a:hover {
	color: #BF5FFF;
}
.para {
	text-align: left;
}
.photos p {
	margin: 0;
}

/*menu styles */

.menu {
	list-style: none;
	padding: 0 auto;
	margin: 0 auto;
	text-align: center;
	border-bottom: 5px solid #30004C;
	background: #000;
	position: fixed;
	width: 950px;
	z-index: 1;
}
.menu li {
	display: inline-block;
	padding: 20px 15px;
}
.menu a {
	text-decoration: none;
	color: #ffffff;
	font-size: 13pt;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Source Sans Pro','verdana','sans-serif';
}
.menu a:hover {
	color: #BF5FFF;
}

/*banner styles */

div.banner {
	padding-top: 70px;
	padding-bottom: 40px;
	background: url('../i/gplaypattern.png');
	background-attachment: fixed;
	color: #ffffff;
	text-align: center;
	border-bottom: 5px solid #30004C;
}

.box {
	padding: 30px 100px 50px 100px;
	background: white;
	border-bottom: 5px solid #30004C;
}

.box h3 {
	text-align: left;
	text-decoration: underline;
}

.contact {
	text-align: center;
	border: 0px white solid;
}

/*image styles*/ 

img.profile {
	border: 1px solid #30004C;
	width: 250px;
	height: 250px;
	padding: 5px;
	margin-right: 10px;
	float: left;
	margin-right: 20px;
/*	border-radius: 50%;*/
}
img.icon {
	width: 75px;
	height: 75px;
}
a.photos {
	text-decoration: none;
	color: #ffffff;
	font-size: 16pt;
	font-family: 'Source Sans Pro','verdana','sans-serif';
}
img.project, img.pics {
	width: 200px;
	height: 200px;
	display: block;
}

/*photo link styles*/

.picsul {
	list-style-type: square;
	margin-left: 25px;
	display: inline-block;
	font-weight: bold;
	font-family: 'Source Sans Pro','verdana','sans-serif';
}
.picsul a:hover {
	text-decoration: underline;
	color: #30004C;
}

/*demo box styles*/

.about-demo--container {
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.about-demo--box, .about-demo--inner {
	padding: 5px;
}
.about-demo--vcenter {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
/*-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
transition: all ease 0.5s;*/
display: table;
width: 200px;
height: 200px;
position: absolute;
}
.about-demo--inner {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
}
.about-demo--box {
	overflow: hidden;
	margin: 10px;
	display: inline-block;
	position: relative;
}
.about-demo--box {
	border: 1px solid #30004C;
}
.about-demo--message {
	text-align: center;
	vertical-align: middle;
	color: white;
}
.about-demo--message a {
	text-align: center;
	vertical-align: middle;
	color: white;
}
.about-demo--box:hover .about-demo--vcenter {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	transform: translateY(-200px);
	background-color: rgba(0, 0, 0, 0.6);
}

/*does not disply links*/

.mobile {
	display: none;
} 