// Portrait tablet and small desktops
@media (max-width: 960px) {
	.wrapper {
		width: 80%;
	}

	.left, .right {
		margin: 10px;
	}

	.webdev-port {
		@include column(6);
		margin-bottom: 15px;
	}

}
 
// Landscape phone to portrait tablet
@media (max-width: 768px) {
	.weblinks, .social, .left, .right, .aboutimg, .abouttext, .full-left, .full-right {
		@include column(12);
	}

	.img-left, .img-right {
		display: block;
	}

	.header {
		padding: 200px 0 0;
	}

	.wrapper, .wrapperheader {
		padding: 15px 0;
	}

	.quotes {
		img {
			width: 125px;
			margin: 5px;
			top: 15px;
		}
	}

	.lightbulb {
		top: 25px;
	}

	.bottom {
		margin: 0 auto;
	}
	
	.nav {
		ul {
			display: inline-block;
			padding: 0;
			margin: 0;
			li {
				a {
					padding: 15px;
				}
			}
		}
	}

	.social {
		padding: 50px 0 0;
	}

	.desktophidden {
		display: none;
	}
}
 
// Landscape phones and down
@media (max-width: 480px) {
	.header img {
		width: 300px;
	}

	.wrapperheader {
		padding: 50px 0 0;
		width: 100%;
		h3 {
			padding: 0;
		}
	}

	.webdev img {
		width: 200px;
	}

	.skills-items {
		@include column(6)
	}

	.mobilehidden {
		display: none;
	}

	.desktophidden {
		display: block;
	}

	input,textarea {
	padding: 5px 0;
	width: 300px;
	}

	.social {
		padding: 15px 0;
	}

	.nav {
		ul {
			li {
				padding: 10px;
				display: block;
			}
		}
	}

	.webdev-port {
		@include column(12);
		margin-bottom: 15px;
		img {
			width: 100%;
		}
	}
}