

$firstcol : #20B3AB;
$secondcol : #F7675C;
$thirdcol : #6B246B; 
$section1 : #fff;
$section2 : #f7f7f7;

// Logo font: ReklameScript;

$basicfont: 'Source Sans Pro','verdana','sans-serif';
$headerfont: 'Kaushan Script', cursive;

$basefontsize: 16px;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}