// Portrait tablet and small desktops
@media (max-width: 960px) {
	.header {
		height: 60vh;
	}

	.aboutme {
		img {
			width: 200px;
		}
	}

	.weblinks, .social, .left, .right, .aboutimg, .abouttext {
		@include column(12);
	}

	.wrapper {
		width: 80%;
	}

	.left, .right {
		margin: 10px;
	}
}
 
// Landscape phone to portrait tablet
// @media (max-width: 768px) {

// }
 
// Landscape phones and down
@media (max-width: 480px) {
	.header img {
		width: 300px;
	}

	.webdev img {
		width: 200px;
	}

	.skills {
		display: block;
		li {
			width: 100%;
		}
		padding-top: 5px;
	}

	.no-bullet-list, .bullet-list, .right ul {
		@include nopadormar;
	}

	.mobilehidden {
		display: none;
	}

	.desktophidden {
		display: block;
	}

	input,textarea {
	padding: 5px 0;
	width: 300px;
	}
}