$firstcol : #20B3AB;
$secondcol : #F7675C;
$thirdcol : #6B246B; 
$section1 : #fff;
$section2 : #f7f7f7;

// Logo font: ReklameScript;

$basicfont: 'Source Sans Pro','verdana','sans-serif';
$headerfont: 'Kaushan Script', cursive;

$basefontsize: 16px;